

<h1>{{message}}</h1>

        <hr>
        <button class="btn btn-primary">Nueva Empresa</button>

        <hr>
<div class="row">
    <div class="col-lg-12">
    <div id="fortalezas" class="col-lg-6"><!--row fortalezas-->
        <div ng-controller="FortalezasCtrl">
            <!--fortalezas-->
                <h3>Fortalezas</h3>
                <div class="form-group" data-ng-repeat="fortaleza in fortalezas">
                    <input type="text" class="form-control" ng-model="fortaleza.name" name="" placeholder="Introduce Fortaleza">
                    <button class="btn btn-success" ng-show="showAddFortaleza(fortaleza)" ng-click="addNewFortaleza()">   +   </button>
                </div>

            <!--fortalezas-->
        </div><!--ctrl fortalezas-->
    </div><!--row fortalezas-->

    <div id="oportunidades" class="col-lg-6"><!--row oportunidades-->
        <div ng-controller="OportunidadesCtrl"><!--oportunidadesCTRL-->
                <h3>Oportunidades</h3>
                <div class="form-group" data-ng-repeat="oportunidad in oportunidades">
                    <input type="text" class="form-control" ng-model="oportunidad.name" name="" placeholder="Introduce Oportunidad">
                    <button class="btn btn-success" ng-show="showAddOportunidad(oportunidad)" ng-click="addNewOportunidad()"> + </button>
                </div>
        </div><!--oportunidadesCTRL-->
    </div><!--row oportunidades-->

    </div>

    <div class="col-lg-12">
    <div id="debilidades" class="col-lg-6">
        <div ng-controller="DebilidadesCtrl"><!--debiliidadesCTRL-->
            <!--debilidades-->
                <h3>Debilidades</h3>
                <div class="form-group" data-ng-repeat="debilidad in debilidades">
                    <input type="text" class="form-control" ng-model="debilidad.name" name="" placeholder="Introduce Debilidad">
                    <button  class="btn btn-success" ng-show="showAddOportunidad(debilidad)" ng-click="addNewOportunidad()">+</button>
                </div>
        </div><!--debiliidadesCTRL-->

    </div>

    <div id="amenazas" class="col-lg-6">
        <div ng-controller="AmenazasCtrl"><!--amenazasCTRL-->
            <!--amenazas-->

                <h3>Amenazas</h3>
                <div class="form-group" data-ng-repeat="amenaza in amenazas">
                    <input type="text" class="form-control" ng-model="amenaza.name" name="" placeholder="Introduce Amenaza">
                    <button class="btn btn-success" ng-show="showAddOportunidad(amenaza)" ng-click="addNewOportunidad()"> + </button>
                </div>
        </div><!--amenazasCTRL-->
    </div>


    </div>


</div>







<hr>



